<template name="chat">
  {{#if Template.subscriptionsReady}}
    Chat
    <div class="chat-content">
      {{#with chatPoints}}
        {{> pointList}}
      {{/with}}
    </div>

    <form class="point-input panel-footer">
      <div class="input-group">
        <input name="text" type="text" class="form-control" placeholder="What do you think?" />
        <span class="input-group-btn">
          <button class="btn btn-success submit-point">
              Send</button>
        </span>
      </div>
    </form>
  {{/if}}
</template>
