<template name="dashboard">
  <div>
    <p>Here are three things that crystallized in my mind from the first two weeks of Stanford class on Blitzscaling.
    </p>
    <p>Founder-polymath
      The best founders are generalists all the way through. — Sam Altman
      Every speaker talked about founders and first employees being generalists. You need to get things done. Whether it’s writing code, talking to users, getting pizza or raising financing. But there is something more to it than just doing. It’s thinking.
      The class itself is an example of diversity of topics you need to consider. Technical insight, product, business, employees, customers. You need to understand needs of individual users and market dynamics. You need to consider how productive each individual employee is and the culture you are building.
      You need to notice change in the world which enable the next billion dollar company, but you also need to understand human nature which remained unchanged for centuries. You have to think about how to win 10 year game and at the same time how to stay afloat for the next month.
    </p>
    <p>Speed and decisiveness
      The most important thing is the speed with which you’re making decisions. — Ann Miura-Ko
      It seems obvious. You just move faster than your competitors and win eventually. It’s easy to say, but it’s hard to fully appreciate the power of speed. In this case chart is worth a thousand words.
      The difference between 10% and 15% monthly growth rate on a 5 year horizon:
      I think the importance of speed is not limited to overtaking competitors. It also keeps the vital momentum inside the company. Make decision in an hour, execute on it today and probably by tomorrow you’ll learn something new and important. Speed makes your learning follow an exponential trajectory.
    </p>
    <p>Family values
      Do things that don’t scale — Paul Graham
      Every company starts small. It’s closer to family than to company. It’s about few people who share common values and vision. In this stage you do things that seem small, but are laying the foundation for the future growth.
      It’s not enough for people to like your product. It’s important to have some small number of users who really love it. It’s not enough for your first employees to fit the job description. They have to share your values and vision. Your investors bring not only money, but most importantly expertise and advice.
      Startups make a lot of decisions in the early days. All these early decisions are not scalars, but vectors. These vectors determine the direction of the product, strategy and culture. They determine the future of the company.
    </p>
  </div>
</template>
