@import "tools/extends";

@import "objects/forms";

@import "components/login";

body {
  font-size: 18px;
}

.highlight {
  background-color: #eee;
}

.add-point {
  position: absolute;
  width: 300px;
  height: 200px;
  & > .container {
    height: 100%;
  }
  & > .selectize-control {
    margin: 10px;
  }
}


.save-point {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.point-list {
  padding-bottom: 30px;
}

.point-input {
  position: fixed;
  bottom: 0px;
}

.action-list {
  margin-top: 20px;

  & .fa {
    display:inline;
    padding-right: 10px;
    margin-right: 40px;
    color: #999;
    cursor: pointer;
    & .count {
      margin-left: 10px;
    }
  }
  & .fa.upvoted {
    color: #fb3;
  }
}
