<template name="listPage">
  {{#if Template.subscriptionsReady}}
    <div class="chat-header">
      <div class="container">
        <h3>{{> editableText context=list collection="lists" field="text"}}</h3>
        <span class="selected-count">{{selectedCount}} <i class="fa fa-share-square-o"></i></span>
      </div>
    </div>

    <div class="chat-content">
      {{#with listPoints}}
        {{> graph}}
      {{/with}}
    </div>

    {{> chatInput}}

    {{> exportList}}
  {{/if}}
</template>
